.Profile {
    max-width: 80%;
    padding: 1.5em 2em;
    margin-inline: auto;
    // border: 2px solid red;

    .container {
        display: flex;

        .left-part {
            flex: 2;
            // border: 2px solid red;
            margin-right: 10px;
        }

        .right-part {
            flex: 1;
            // border: 2px solid green;
            background-color: rgba(240, 255, 255, 0.571);
            margin-top: 3em;
            height:fit-content;
            box-shadow: 4px 4px 4px 4px gray;
            .profile-card{
                
                img{
                    width:80px;
                    height:80px;
                    margin-inline: 40%;
                }
                h2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .follower-info{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
                button{
                    display: block;
                    font-weight: 200;
                    letter-spacing: 1px;
                    color:black;
                    border-radius: 10px;
                    transition: 0.3s ease;
                    cursor: pointer;
                    outline: none;
                    aspect-ratio: 3;
                    font-size: 1em;
                    margin: 5px;
                    border:1px solid greenyellow;
                }
                .follow-btn{
                    width:100px;
                    margin-inline: 32%;
                    background-color: rgba(0, 0, 255, 0.957);
                }
                .update-btn{
                   width:130px;
                   margin-inline: 28%;
                   background-color: whitesmoke;
                   box-shadow: 1px blueviolet;
                }
                
            }
        }
    }
}