.feed {
    max-width: 80%;
    padding: 1.5em 2em;
    margin-inline: auto;

    .container {
        display: flex;

        .left-part {
            flex: 2;
            // border: 2px solid red;
            margin-right: 10px;
        }

        .right-part {
            flex: 1;
            // border: 2px solid green;

            .following {
                .title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 2em;
                }

            }
            .suggestion {
                .title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 2em;
                }
            }
        }
    }
}